@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
header {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav a {
  font-size: 12px;
  font-weight: 200;
  line-height: 60px;
  letter-spacing: -0.28px;
  color: black;
  text-decoration: none;
}

.text {
  font-family: "Inter", serif;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.apple-logo {
  background-image: url(./header/apple-logo.png);
  width: 12.97px;
  height: 15.94px;
  align-items: center;
}

.search-bar {
  background-image: url(./header/search.png);
  width: 15px;
  height: 15px;
}

.shopping-bag {
  background-image: url(./header/shopping-bag.png);
  width: 14px;
  height: 40px;
  margin-left: 8px;
}

.menu-bar {
  background-image: url(./header/menu.png);
  width: 14px;
  height: 14px;
  display: none;
}

.donate {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: #1d1d1f;
  padding-bottom: 16px;
}

.blue-header {
  fill: #019ffb;
  opacity: 0.5;
  filter: blur(10px);
  height: 75px;
  width: 1fr;
}

.section {
  font-family: "Inter", serif;
  font-size: 44px;
  font-weight: 700;
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
  gap: 32px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.gift-magic {
  color: #6e6e73;
}

.rgbstore {
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
  color: transparent;
  background-clip: text;
  width: max-content;
}

.shopping-help {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  height: min-content;
  gap: 16px;
}

.help-right-4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.black {
  color: #1d1d1f;
  font-weight: 700px;
}

.blue {
  color: #06c;
  font-weight: 400px;
}

.product-list {
  gap: 12px;
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
  margin-bottom: 60px;
}

.arvanneg {
  display: flex;
  width: 136px;
  padding: 16px 8px;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.section-title {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  gap: 32px;
  margin-bottom: 24px;
}

.the-latest {
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.item-detail {
  display: flex;
  gap: 20px;
}
.back{
  z-index: -1;
}

.detail{
  display: flex;
width: 322px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
padding-top: 31px;
padding-left: 30px;
border-radius: 22px;
}

.iphone-16-pro{
  background-image: url(./section/store-card-50-holiday-iphone-pro-202411_GEO_US.png);
  width: 480px;
  height: 500px;
}

.apple-watch-10{
  background-image: url(./section/store-card-50-holiday-watch-s10-202411.png);
  width: 480px;
  height: 500px;
}

.ipad-mini{
  background-image: url(./section/store-card-50-holiday-ipad-mini-202411.png);
  width: 480px;
  height: 500px;
}

.macbook-pro{
  background-image: url(./section/store-card-50-holiday-macbook-pro-202411.png);
  width: 480px;
  height: 500px;
}

.watch2{
  padding-top: 54px;
}
.apple-intel {
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
}

.product-name {
  color: #1d1d1f;
  font-size: 26px;
  font-weight: 700;
}

.product-price {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 400;
}
