@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
header {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav a {
  font-size: 12px;
  font-weight: 200;
  line-height: 60px;
  letter-spacing: -0.28px;
  color: black;
  text-decoration: none;
}

.text {
  font-family: "Inter", serif;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.apple-logo {
  background-image: url(./header/apple-logo.png);
  width: 12.97px;
  height: 15.94px;
  align-items: center;
}

.search-bar {
  background-image: url(./header/search.png);
  width: 15px;
  height: 15px;
}

.shopping-bag {
  background-image: url(./header/shopping-bag.png);
  width: 14px;
  height: 40px;
  margin-left: 8px;
}

.menu-bar {
  background-image: url(./header/menu.png);
  width: 14px;
  height: 14px;
  display: none;
}

.donate {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: #1d1d1f;
  padding-bottom: 16px;
}

.section {
  font-family: "Inter", serif;
  font-size: 44px;
  font-weight: 700;
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
  gap: 32px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.gift-magic {
  color: #6e6e73;
}

.rgbstore {
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
  color: transparent;
  background-clip: text;
  width: max-content;
}

.shopping-help {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  height: min-content;
  gap: 16px;
}

.help-right-4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.black {
  color: #1d1d1f;
  font-weight: 700px;
}

.blue {
  color: #06c;
  font-weight: 400px;
}

.product-list {
  gap: 12px;
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
  margin-bottom: 60px;
}

.arvanneg {
  display: flex;
  width: 136px;
  padding: 16px 8px;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  gap: 32px;
  margin-bottom: 24px;
  width: max-content;
}

.the-latest {
  padding-left: 140px;
  display: flex;
  flex-direction: column;
}

.item-detail {
  display: flex;
  gap: 20px;
}
.back {
  z-index: -1;
}

.detail {
  display: flex;
  width: 322px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-top: 31px;
  padding-left: 30px;
  border-radius: 22px;
}

.iphone-16-pro {
  background-image: url(./section/store-card-50-holiday-iphone-pro-202411_GEO_US.png);
  width: 480px;
  height: 500px;
}

.apple-watch-10 {
  background-image: url(./section/store-card-50-holiday-watch-s10-202411.png);
  width: 480px;
  height: 500px;
}

.ipad-mini {
  background-image: url(./section/store-card-50-holiday-ipad-mini-202411.png);
  width: 480px;
  height: 500px;
}

.macbook-pro {
  background-image: url(./section/store-card-50-holiday-macbook-pro-202411.png);
  width: 480px;
  height: 500px;
}

.watch2 {
  padding-top: 54px;
}
.apple-intel {
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
}

.product-name {
  color: #1d1d1f;
  font-size: 26px;
  font-weight: 700;
}

.product-price {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 400;
}

.airpod-list {
  padding-left: 140px;
  gap: 60px;
  padding-top: 60px;
}

.airpods-imgs {
  background-image: url(airpods//store-card-40-holiday-engraving.png);
  height: 500px;
  width: 400px;
  border-radius: 22px;
}

.polo {
  width: 400px;
  color: #1d1d1f;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 53px;
}

.item-detail-2 {
  padding-top: 24px;
  display: flex;
  gap: 20px;
}

.perso {
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 313px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

.selectors {
  display: flex;
  width: 253px;
  height: 58px;
  padding: 25px 86px 21px 79px;
  align-items: flex-start;
  gap: 7px;
}

.free-engraving {
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
}

.airpods-name {
  color: #1d1d1f;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.airpods-text {
  padding-top: 58px;
}

.airpods-price {
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 400;
  padding-top: 32px;
}

.holiday-picks {
  padding-left: 140px;
  padding-top: 60px;
}

.item-detail-3 {
  display: flex;
  gap: 24px;
  padding-left: 140px;
}

.only-at-apple {
  padding-left: 140px;
  padding-top: 60px;
}

.only-apple {
  padding-bottom: 24px;
}

.only-content {
  display: flex;
  gap: 20px;
}

.surprise-your {
  background-image: url(./smart-folio/store-card-40-holiday-quick-picks-202411.png);
  border-radius: 22px;
  width: 400px;
}

.holiday-delivery {
  background-image: url(./only-at-apple/store-card-50-holiday-delivery-pickup-202411.png);
  border-radius: 22px;
  width: 480px;
  height: 500px;
  display: flex;
}

.holiday-text {
  font-size: 26px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 50px;
  display: flex;
}

.durvun-text {
  color: #1d1d1f;
  font-size: 22px;
  font-weight: 700;
}

.neg-text {
  display: grid;
  grid-area: neg;
}

.hoer-text {
  grid-area: hoer;
}

.gurav-text {
  grid-area: gurav;
}

.duruv-text {
  grid-area: duruv;
}

.ijil-4 {
  width: 313px;
  height: 240px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

.durvun-text {
  padding-left: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 313px);
  grid-template-rows: repeat(2, 240px);
  grid-template-areas:
    "neg hoer"
    "gurav duruv";
}
.apple-trade-in {
  background-image: url(./store/store-card-50-holiday-trade-in-202411.png);
  width: 480px;
  height: 500px;
}

.trade-in-text {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
  padding: 30px;
}

.trade-in-context {
  font-size: 25px;
  font-weight: 700;
  padding-left: 30px;
  border-radius: 44px;
}

.the-apple-exp {
  padding-left: 140px;
  padding-top: 60px;
}

.apple-exp {
  padding-bottom: 24px;
}

.apple-exp-content {
  display: flex;
  gap: 20px;
}

.apple-music {
  background-image: url(./experience/store-card-50-holiday-apple-music-202411.jpg);
  width: 480px;
  height: 500px;
  border-radius: 44px;
}

.about {
  font-size: 17px;
  font-weight: 400;
  padding-left: 30px;
  padding-top: 22px;
}

.apple-tv {
  background-image: url(experience/store-card-50-holiday-apple-tv-202411.png);
  width: 480px;
  height: 500px;
  border-radius: 44px;
}

.trade-in-text-white {
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 30px;
}

.trade-in-context-white {
  color: white;
  font-size: 25px;
  font-weight: 700;
  padding-left: 30px;
  border-radius: 44px;
}

.six {
  padding-top: 70px;
}
.apple-six {
  background-image: url(experience/store-card-50-subscriptions-202108_GEO_US.jpg);
  width: 480px;
  height: 500px;
  border-radius: 44px;
}

.apple-ai {
  background-image: url(./experience/store-card-50-apple-intelligence-202410_GEO_US.png);
  width: 480px;
  height: 500px;
  border-radius: 44px;
}

.special-savings {
  padding-left: 140px;
  padding-top: 60px;
}

.carrier-deals {
  background-image: url(./special-savings/iphone-card-40-carriertrade-202409.png);
  height: 500px;
  width: 400px;
  border-radius: 22px
}

.education {
  background-image: url(./special-savings/store-card-40-bts-edu-macbook-air-ipad-air-202406.png);
  height: 500px;
  width: 400px;
  border-radius: 22px
}

.refurbish {
  background-image: url(./special-savings/store-card-40-refurb-202408.png);
  height: 500px;
  width: 400px;
  border-radius: 22px
}

.business {
  background-image: url(./special-savings/iphone-card-40-business-202409.png);
  height: 500px;
  width: 400px;
  color: white;
  border-radius: 22px
}

.government {
  background-image: url(./special-savings/govov.jpeg);
  height: 500px;
  width: 400px;
  border-radius: 22px;
}

.savings-content {
  display: flex;
  gap: 20px;
}

footer{
  padding-left: 140px;
  padding-top: 60px;
}

.footer-head{
font-size: 26px;
font-weight: 700;
}

.footer-links{
text-align: center;
font-size: 14px;
font-weight: 400;
display: flex;
padding: 10px 12px;
align-items: center;
gap: 8px;
}

.order{
  border-radius: 999px;
border: 1px solid #1D1D1F;
padding: 10px 12px;
}

.shopping{
  border-radius: 999px;
border: 1px solid #1D1D1F;
padding: 10px 12px;
}

.returns{
  border-radius: 999px;
border: 1px solid #1D1D1F; 
padding: 10px 12px;
}

.your-saves{
  border-radius: 999px;
border: 1px solid #1D1D1F;
padding: 10px 12px;
}